.container-section{
    height: 16vh;
    background-color: #94c01f;
    width: 99vw;
    color: white;
    display: flex;
    align-items: center;
}
.container-section h1{
    margin-left: 40px;
    
}
@media (max-width: 975px){
    .container-section{
        display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    }
    .container-section h1{
        margin: 0;
        font-size: 1.2em;
        
    }
}