.container-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 100%;
    width: 90%;
    margin: 0;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}
.container-grid-days{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 100%;
    width: 90%;
    margin: 0;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.month{
    margin-bottom: 20px;
    font-size: 36px;
    background-color: #005a7e;
    color: white;
    padding: 12px 140px 22px 140px;
    border-radius: 7px 7px 35px 35px;
}
.month h2{
    margin: 0;
    letter-spacing: 2px;
}
.container-grid-days h3{
    width: 104px;
    font-size: 32px;
    margin: 0;
    color: #afd36a;
}
.location h1{
    padding: 0;
    margin: 0;
}
.location{
    background-color: white;
    margin: 20px;
    padding: 15px;
    color: #017494;
}
.description{
    margin: 20px;
    padding: 15px;
    color: white;
}

@media (max-width: 975px){
    .month{
        width: auto;
    }
    .month h2{
        font-size: 0.8em;
    }
    .location h1{
        font-size: 0.9em;
    }
    .location{
        width: auto;
    }
    .description{
        width: 50% !important;
        margin-left: 20px !important;
    }
    .description h2{
        font-size: 1.1em;
    }
    .container-grid-days{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        height: 1.2em;
        width: auto;
        margin: 0;
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .container-grid-days h3{
        width: 2.6em;
        font-size: 1.2em;
        margin: 0;
        color: #afd36a;
    }
    .container-grid{
        width: 2.6em;
        font-size: 1.2em;
        margin: 0;
        color: #afd36a;
    }
}


