body{
  height: 100vh;
  background-color: #017494;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.attribution{
  margin: 30px;
  font-size: 18px;
  color: white;
}
.attribution:hover{animation:shake-horizontal 0.8s linear both} @keyframes shake-horizontal{0%,100%{transform:translateX(0)}10%,30%,50%,70%{transform:translateX(-10px)}20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}}